//- footer.jade

#footer
  .container
    .row.clearfix
      .col-md-3.footerlogo_column
        img(src="images/common/footer_logo.png")
      .col-md-9.text-center
        .footer_nav
          a(href='#masthead') Home
          a(href='#meet-our-team') Team
          a(href='#our-services') Services
          a(href='#') Contact us
        .social_nav
          a(href='https://www.facebook.com/gomicroservices', class="ion-social-facebook", target="_blank")
          a(href='https://twitter.com/gomicroarch', class="ion-social-twitter" target="_blank")
          a(href='https://www.linkedin.com/company/gomicroservices', class="ion-social-linkedin" target="_blank")
          //- a(href='#', class="ion-social-instagram")
          //- a(href='#', class="ion-social-pinterest")
.copyright.clearfix
  .container Copyright 2015, All Rights Reserved. Powered By Simplicity Itself and Idyllic Software