extends layout

block content
  #contactheading Our Locations
  #map
    img(src="images/contact/map.jpg", alt="Go Microservices Locations")
  #locations.row.clearfix
    .location.col-md-2#boston
      h3 Boston
      p
        | One Broadway,
        br
        | Cambridge,
        br
        | MA 02142
    .location.col-md-2#chicago
      h3 Chicago
      p
        | 1317 W. TAYLOR ST.
        br
        | Chicago,
        br
        | IL 6060
    .location.col-md-2#boulder
      h3 Boulder
      p
        | Idyllic Software,
        br
        | 1724 Broadway, Boulder,
        br
        | CO 80302
    .location.col-md-2#uk
      h3 UK
      p
        | 64 Acres Lane
        br
        | Stalybridge, East Cheshire
        br
        | England, SK15 2JU
    .location.col-md-2#pune
      h3 Pune
      p
        | 4th Floor, Amar Synergy,
        br
        | Sadhu Vaswani Road,
        br
        | Pune, India
    .location.col-md-2#mumbai
      h3 Mumbai
      p
        | D-321,
        br
        | Neelkanth Business Park,
        br
        | Vidya Vihar (West),
        br
        | Mumbai 400086.
  #connect
    h3 Connect with us
    .row
      .col-md-2 &nbsp;
      .col-md-8
        form(action="/enquiry", name="contactus", id="contactus", method="post", novalidate="novalidate")
          .row
            .col-md-6
              .form-group
                input(type="text", name="name", id="name", class="form-control text-center", placeholder="Name", required)
            .col-md-6
              .form-group
                input(type="email", name="email", id="email", class="form-control text-center", placeholder="Email", required)
          .row
            .col-md-6
              .form-group
                input(type="text", name="phone", id="phone", class="form-control text-center", placeholder="Phone Number", required)
            .col-md-6
              .form-group
                input(type="submit", class="form-control btn btn-primary btn-block", value="Submit")        
      .col-md-2 &nbsp;