extends layout

block content
  #masthead
    .col-md-4 &nbsp;
    .col-md-6
      h1
        | HELPING COMPANIES SUCCEED WITH MICROSERVICES
      h2 A full stack development shop.
  #meet-our-team
    h3 Meet Our Team
    .row
      .member.col-md-4
        img(src="images/team/russ.png")
        strong Russ Miles
        p After having worked in software for two decades, now helping companies build #antifragile software with simplicity.
      .member.col-md-4
        img(src="images/team/david.png")
        strong David Dawson
        p Architecting software, products and businesses to make them sustainable, agile and adaptable
      .member.col-md-4
        img(src="images/team/jinesh.png")
        strong Jinesh Parekh
        p Helping customers build sustainable businesses through technology and pragmatic processes.
  //- #our-clients
  //-   .container
  //-     h3 Our Clients
  #our-services
    .container
      h3 Our Services
      .row.clearfix
        .col-md-6
          #services-headline
            | Why should you build
            br
            b Your new
            span project using
            strong microservices

        .col-md-6
          .expectations
            li Unleash innovation |
            li Prepare for both tactical and strategic change |
            li Be ready for the cloud with the ultimate cloud native architecture |
            li Unlock the value in your existing systems |
            li Avoid technology lock in |
            li Never have to do a mass version upgrade to your software |
      .row.points.clearfix
        .point.col-md-4
          p Consider Microservices as separate &ldquo;pieces,&rdquo; without being considered/framed in overall systemic benefits and shaped by the known forces of a distributed system
        .point.col-md-4
          p Microservices is a mindset that requires dynamic thinking – don’t try and emulate how Netflix does it . . . you are not Netflix
        .point.col-md-4
          p Stay focused, and don’t think it has to be adopted enterprise wide