doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  if pageName
    body#home
      include ./includes/navigation.jade
      #wrap
        #main
          .row
            block content
      include ./includes/footer.jade
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/jquery.validate.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/main.js')
  else
    body
      include ./includes/navigation.jade
      #wrap
        #main
          .row
            block content
      include ./includes/footer.jade
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/jquery.validate.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/main.js')