#contactheading
  display: inline-block
  font-family: $font-family-opensans
  font-weight: 400
  font-size: 36px
  margin: 30px 0 50px 0
  &:after
    content: ""
    display: block
    margin: 15px auto 0
    width: 40%
    height: 2px
    background-color: $brand-primary

#map
  > img
    display: block
    max-width: 100%

#locations
  margin: 50px 0 20px
  text-align: left
  > .location
    font-family: 'Helvetica', sans-serif
    color: $gray-dark
    &#boston
      &:after
        background-color: $brand-primary
    &#chicago
      &:after
        background-color: #c53163
    &#boulder
      &:after
        background-color: $brand-primary
    &#uk
      &:after
        background-color: #bd10e0
    &#pune
      &:after
        background-color: #1c97df
    &#mumbai
      &:after
        background-color: #ac0116
    &:after
      content: ""
      width: 20%
      display: inline-block
      height: 4px
    > h3
      font-weight: bold
      font-family: 'Helvetica', sans-serif
      text-transform: uppercase
      font-size: 16px
      margin-bottom: 10px
    > p
      font-size: 14px
      font-weight: normal
#connect
  height: 570px
  padding: 100px 0
  background: url('/images/contact/night-square.jpg') no-repeat center top
  background-size: cover
  text-align: center
  > h3
    display: inline-block
    font-family: $font-family-opensans
    font-weight: 400
    font-size: 36px
    margin: 30px 0 50px 0
    &:after
      content: ""
      display: block
      margin: 15px auto 0
      width: 40%
      height: 2px
      background-color: $brand-primary
  form
    input[type="text"], input[type="email"]
      background: white;
      border: 1px solid #CDD8E2;
      border-radius: 6px;
      font-family: $font-family-opensans
      font-style: italic
      font-size: 25px;
      color: #7D848A;
      line-height: 40px;

.error
  display: block
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  padding: 5px;
  font-weight: normal