// _fonts.scss

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('/fonts/proxima/ProximaNova-Regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/proxima/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/proxima/ProximaNova-Regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/proxima/ProximaNova-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/proxima/ProximaNova-Regular.svg#2c1459d58560f08b4b0586fbe80aa4cd') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}