body#home
  background: url('/images/home/banner.jpg') no-repeat center top
  background-size: cover

#masthead
  @include clearfix()
  font-family: $font-family-opensans
  text-transform: uppercase
  color: white
  padding-top: 140px;
  padding-bottom: 80px
  @media (max-width: $grid-float-breakpoint)
    padding-top: 50px;
  h1
    font-weight: 300
    font-size: 25px
    @media (max-width: $grid-float-breakpoint)
      font-size: 22px
  h2
    font-weight: 600
    font-size: 55px
    > strong
     font-weight: 300
     font-size: 35px
     @media (max-width: $grid-float-breakpoint)
      font-size: 28px
    > span
     font-weight: 400
    @media (max-width: $grid-float-breakpoint)
      font-size: 35px

#meet-our-team
  min-height: 600px
  background-color: white
  text-align: center
  > h3
    display: inline-block
    font-family: $font-family-opensans
    font-weight: 400
    font-size: 36px
    margin: 30px 0 50px 0
    &:after
      content: ""
      display: block
      margin: 15px auto 0
      width: 40%
      height: 2px
      background-color: $brand-primary
  .member
    @media (max-width: $grid-float-breakpoint)
      margin-bottom: 50px
    > img
      display: block
      max-width: 100%
      margin: 0 auto 30px
    > strong
      display: block
      text-align: center
      font-family: $font-family-opensans
      font-weight: 400
      font-size: 18px
      margin-bottom: 18px
      color: $gray-dark
    > p
      font-family: $font-family-opensans
      font-weight: 300
      font-size: 14px
      color: $gray-dark
      margin: 0 20%

#our-services
  min-height: 850px
  background: url('/images/home/new-york.jpg') no-repeat center top
  background-size: cover
  text-align: center
  h3
    display: inline-block
    font-family: $font-family-opensans
    font-weight: 400
    font-size: 36px
    margin: 30px 0 50px 0
    &:after
      content: ""
      display: block
      margin: 15px auto 0
      width: 40%
      height: 2px
      background-color: $brand-primary

#our-clients
  text-align: center
  h3
    display: inline-block
    font-family: $font-family-opensans
    font-weight: 400
    font-size: 36px
    margin: 30px 0 50px 0
    &:after
      content: ""
      display: block
      margin: 15px auto 0
      width: 40%
      height: 2px
      background-color: $brand-primary

.expectations
  list-style-type: disc
  text-align: left
  margin-top: 20px;
  > li
    margin: 0 0 24px 0
    font-family: $font-family-opensans
    font-weight: 600
    font-size: 24px
    color: $gray-darker
    @media (max-width: $grid-float-breakpoint)
      font-size: 16px

#services-headline
  text-align: left
  font-weight: 300
  font-size: 32px
  line-height: 55px;
  > *
    display: block
    text-shadow: 0px 2px 4px rgba(0,0,0,0.24);
  > b
    font-weight: 400
    font-size: 42px
    @media (max-width: $grid-float-breakpoint)
      font-size: 26px
  > span
    font-weight: 400
    font-size: 42px
    line-height: 45px;
    @media (max-width: $grid-float-breakpoint)
      font-size: 30px
  > strong
    font-weight: 600
    font-size: 62px
    line-height: 70px;
    @media (max-width: $grid-float-breakpoint)
      font-size: 40px


.points
  text-align: left
  margin-top: 50px
  .point
    &:before
      content: ""
      width: 20%
      display: inline-block
      height: 4px
      background-color: #ce2323
      margin-bottom: 18px
    p
      font-family: $font-family-opensans
      font-weight: 400
      font-size: 22px
      color: $gray-base