@import bootstrap
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

// ---------------------- STICKEY FOOTER -------------------------//

*
  margin: 0
  padding: 0

/* must declare 0 margins on everything, also for main layout components use padding, not 
 *vertical margins (top and bottom) to add spacing, else those margins get added to total height 
 *and your footer gets pushed down a bit more, creating vertical scroll bars in the browser
 */

html, body
  height: 100%

#wrap
  min-height: 100%

#main
  padding-bottom: 220px

/* must be same height as the footer */

#footer
  position: relative
  margin-top: -220px
  height: 220px
  clear: both

// ---------------------- COMMON RULES -------------------------//



body
  padding-top: $navbar-height + 20
  background: none
  background-size: none
  text-align: center

.row-fluid
  margin-right: 0;
  margin-left: 0;

#footer
  background-color: $brand-primary
  padding-top: 35px

.copyright
  height: 40px
  line-height: 40px
  text-align: center
  font-weight: 300
  color: white
  font-family: $font-family-opensans
  font-size: 10px
  background-color: $brand-footer

@media (max-width: $grid-float-breakpoint)
  
  .navbar-brand
    width: 250px;
    padding: 12px 15px
    > img
      max-width: 100%

  .navbar-default
    .navbar-nav
      > li
        margin-right: 0
        > a:hover, > a:active, > a:focus
          border-bottom: none

  .footerlogo_column
    display: none

.footer_nav
  margin: 38px 0 40px
  > a
    display: inline-block
    margin-right: 34px
    color: white
    font-family: $font-family-opensans
    &:last-child
      margin-right: 0
    @media (max-width: $grid-float-breakpoint)
      margin-right: 20px

.social_nav
  > a
    display: inline-block
    width: 32px
    height: 32px
    font-size: 18px
    margin-right: 38px
    border-radius: 100%
    background-color: white
    color: black
    &:before
      line-height: 32px
    &:last-child
      margin-right: 0

.navbar-default
  font-family: $font-family-opensans
  background: url('/images/common/opaque-header.png') repeat

@import home
@import contact